
body {
    background-image: url('../image/pokhara.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;    
    font-family: 'Vollkorn SC', serif;
 }
 
 div {
    display: block;
 }
 
 .nav,
 .sticky,
 #guest {   
    font-family: 'Vollkorn SC', serif;   
    /* font-family: 'Questrial', sans-serif;  */
 }

 .parallax {
    perspective: 1px;
    height: 80vh;
    overflow-x: hidden;
    font-size: 200%;
    text-align: center;
 }
 
 ::-webkit-scrollbar {
    display: none;
 }
 
 .parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60vh 0; 
 }
 
 .parallax_layer-base {
    transform: translateZ(0);
    color: #EEA260;
    text-align: center;      
    z-index: 2;
    height: 90vh;
    padding-bottom: 60%;
 }
 
 .parallax_layer-back {
    transform: translateZ(-1px);
    color: #F8D8A7;   
    z-index: 1;
    height: 90vh;
 }

 /***** MAIN TEXT ***/

 #welcome {
    font-weight: bold;
    font-size: 60px;
    text-shadow: 5px 10px 10px #183D4D;
    letter-spacing: 5px;
    font-family: 'Vollkorn SC', serif;
    /* font-family: 'Lily Script One', cursive;   */
 }
 
 #guest {
    font-size: 50px;
 }

 /*******************
 ***** NAVIGATION ***
 *******************/
 .nav {
    position: fixed; 
    top: 0;
    width: 100%;
    background: blur(10px);
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 5;
 }
 
 .nav a {
    margin: 50px;
    color: #312b42;
    font-size: 20px;
    text-decoration: none;    
    position: relative;
 }
 
 .blur{
    background-image: url('../image/pokhara.jpg');
	background-size:cover;
	height: 90px;
	width: 100%;
	filter:blur(20px);
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
  }

  .border-right {
    border-right: 2px solid #c39365;
    padding-right: 50px;
    margin-right: 0 !important;
  }

  #book {
    color: #c39365 !important;
  }

 /******************
 ****** INPUT ******
 ******************/
 .date-input {
    z-index: 3;
    color: #F8D8A7;
    position: relative;
    height: 100px;
    background-color:rgba(161, 128, 85, 0.7);
    width: 700px;
    margin: 0 auto;
    border-radius: 10px;
 }

input {
    border-radius: 3px;
    border: none;
    padding: 5px;
    color: #947D5A;
    font-family: 'Vollkorn SC', serif;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
	opacity: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background: url(https://cdn3.iconfinder.com/data/icons/iconic-1/32/calendar_alt_fill-48.png) center/80% no-repeat;
	color: rgba(148,125, 90, 0);
	opacity: 0.5
}
	
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: url(https://cdn3.iconfinder.com/data/icons/iconic-1/32/calendar_alt_fill-48.png) center/80% no-repeat;
    opacity: 0.8
}

.sticky {
    align-content: center;
}

.sticky p {
    text-align: left;
    margin-bottom: 5px;
}

 .row {
    display: flex;     
    text-align: center;
    justify-content: center;
 }

.row div {
    padding: 10px;
}

.number {
    width: 53px;
    height: 20px;
    font-size: 18px;
}

button {
    padding: 0 20px;
    height: 31px;
    margin: 52px 20px 10px;
    border-radius: 3px;
    letter-spacing: 3px;
    color: #c39365;
    background-color: #312b42;
    outline-color: #c39365;
    font-family: 'Vollkorn SC', serif;
    border: none;
}
 /**********************
 ****' HOTEL ROOM ******
 **********************/
 .hotel-room {
    height: 100px;
    margin: 10px 150px;
    color: white;
 }

